apiVersion: skaffold/v2beta27
kind: Config
metadata:
  name: kafka-2-pubsub
build:
  artifacts:
  - image: us-central1-docker.pkg.dev/${GOOGLE_CLOUD_PROJECT}/kafka-2-pubsub/kafka-2-pubsub
    context: src
    docker:
      dockerfile: Dockerfile
deploy:
  kustomize:
    paths:
    - infra/k8s/overlays/dev
profiles:
- name: prod
  deploy:
    kustomize:
      paths:
      - infra/k8s/overlays/prod
