---
kind: Deployment
apiVersion: apps/v1
metadata:
  name: producer-a
spec:
  replicas: 1
  selector:
    matchLabels:
      app: producer-a
  template:
    metadata:
      labels:
        app: producer-a
    spec:
      containers:
        - name: producer
          image: us-central1-docker.pkg.dev/${GOOGLE_CLOUD_PROJECT}/kafka-2-pubsub/kafka-2-pubsub
          command: ["/app/produce.py"]
          args: ["Producer A"]
          env:
            - name: K2PS_BUS_BACKEND
              value: "kafka"
            - name: K2PS_KAFKA_TOPIC
              value: "kafka-2-pubsub"
            - name: K2PS_KAFKA_BOOTSTRAP_SERVER
              value: "kafka:9092"
---
kind: Deployment
apiVersion: apps/v1
metadata:
  name: producer-b
spec:
  replicas: 1
  selector:
    matchLabels:
      app: producer-b
  template:
    metadata:
      labels:
        app: producer-b
    spec:
      containers:
        - name: producer
          image: us-central1-docker.pkg.dev/${GOOGLE_CLOUD_PROJECT}/kafka-2-pubsub/kafka-2-pubsub
          command: ["/app/produce.py"]
          args: ["Producer B"]
          env:
            - name: K2PS_BUS_BACKEND
              value: "kafka"
            - name: K2PS_KAFKA_TOPIC
              value: "kafka-2-pubsub"
            - name: K2PS_KAFKA_BOOTSTRAP_SERVER
              value: "kafka:9092"